<div class="container">

  <div class="edit-form">
    <%= image_tag("travel.jpg", class: 'img-responsive bg-img', alt: "bike") %>
    <div class="row form-authentication-inner">
      <div class="form-heading">
        <h3>Edit <%= resource_name.to_s.humanize %></h3>
      </div>

      <div class="main-login">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <%= f.text_field :first_name, autofocus: true, class: "form-control", autocomplete: "first_name", placeholder: "Name" %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "Email address" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <br>

        <p>
          **<br>
          Password
          <br><i>(leave blank if you don't want to change it)</i><br>
          **
        </p>
        <span class="min-char">
          <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </span>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock" ></span>
          </span>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New password" %>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock" ></span>
          </span>
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder: :password_confirmation %>
        </div>
        <br>

        <p class="red">(we need your current password to confirm your changes)</p>
        <br>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock" ></span>
          </span>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: :current_password %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class:"btn btn-primary btn-lg btn-block login-button" %>
        </div>
        <% end %>

        <div class="cancel-account">
          <p>
            ****<br>
            Unhappy?
          </p>
            <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div><!-- main login -->
    </div><!-- form-authentication-inner -->
  </div>

  <div class="options">
    <%= link_to 'Back', simple_pages_landing_page_path, class: "btn btn-products" %>
  </div>
</div>
