
<section id="body">
  <header>
    <%= image_tag("bike_wallpaper.jpg", alt: "bike_wallpaper") %>
  </header>
</section><!--main-->

<div class="container-fluid anchor">
  <div class="row" id="sales">
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike1.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike2.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike3.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike4.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike5.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike6.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike7.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike8.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike9.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike10.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike11.jpg", class:"img-responsive main") %></div>
    <div class="col-xs-6 col-md-4 img"><%= image_tag("bike12.jpg", class:"img-responsive main") %></div>
  </div><!-- end row -->
</div><!-- end work container -->
