<div class="container form-authentication">
  <div class="row form-authentication-inner">

    <div class="form-heading text-center">
      <h2>Forgot your password?</h2>
    </div>

    <div class="main-login">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "Email address" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class:"btn btn-primary btn-lg btn-block login-button reset"%>
        </div>
      <% end %>

      <div class="shared-link">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</div>
