<!DOCTYPE html>
<html>
<head>
  <title>Webapp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container" id="alert">
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <p id="notice" class="alert"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="alert alert-danger" role="alert">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid bar">
      <div class="navbar-brand">
        <%= link_to simple_pages_landing_page_path do %>
        <%= image_tag "logo_bike.png" %>
        <% end %>
      </div>
      <!-- mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div><!-- mobile display-->

      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="dropdown mega-dropdown">
            <a href="#" class="dropdown-toggle" data-toogle="dropdown">Bikes<span class="caret"></span></a>
            <div class="dropdown-menu mega-dropdown-menu">
              <div class="container-fluid" id="submenu">
                <div class="tab-content">
                  <div class="tab-pane active" id="bikes">
                    <ul class="nav-list list-inline">
                      <li><a href="#"><%= image_tag("kids.jpg", alt: "kids") %><span>Kids</span></a></li>
                      <li><a href="#"><%= image_tag("mountain.jpg", alt: "mountain") %><span>Mountain</span></a></li>
                      <li><a href="#"><%= image_tag("bmx.jpg", alt: "bmx") %><span>BMX</span></a></li>
                      <li><a href="#"><%= image_tag("road.jpg", alt: "road") %><span>Road</span></a></li>
                    </ul>
                  </div>
                </div><!-- tab-content -->
              </div>
            </div><!--mega dropdown menu -->
          </li><!-- dropdown-->

          <li><%= link_to 'About', simple_pages_about_path %></li>
          <li><%= link_to 'For Sale', products_path %></li>
          </ul>

          <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
              <li>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
              </li>
              <% else %>
              <li>
                <%= link_to new_user_session_path do %>
                <span class="glyphicon glyphicon-user"></span>
                <span class="user-nav">Login</span>
                <% end %>
              </li>
              <% end %>
              <li>
                <%= link_to orders_path do %>
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <% end %>
              </li>

            </ul>

            <div class="navbar-form navbar-right search-form" role="search">
              <div class="input-group add-on">
                <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
                <%= form.text_field :q, id: 'q', class:"form-control", placeholder: "Search ...", value: params[:q] %>
                <div class="input-group-btn">
                  <%= form.submit 'Go', class:"btn btn-default", id:"btn-search"%>
                </div><!-- input-group-btn -->
                <% end %>
              </div>
            </div>
        </div><!-- right -->

      </div><!-- myNavbar -->

    </div><!-- end container-fluid -->
  </nav><!-- end navbar -->
  </section>

  <%= yield %>
  <!-- ===== Footer ===== -->
  <footer class="container-fluid">


    <div class="container top">
      <div class="row">

        <div class="col-md-3 col-xs-12 left">
          <h4>Get Help</h4>
          <ul>
            <li> <a href="#"> Buying a Bike </a> </li>
            <li> <a href="#"> Selling your bike </a> </li>
            <li> <a href="#"> Bike delivery & collection </a> </li>
          </ul>
        </div>

        <div class="col-md-3 col-xs-12 left">
          <h4>Company</h4>
          <ul>
            <li> <%= link_to 'Contact us', simple_pages_contact_path %></li>
            <li> <%= link_to 'About us', simple_pages_about_path %></li>
            <li> <a href="#"> Terms & Privacy </a> </li>
          </ul>
        </div>

        <div class="col-md-6 col-xs-12 right">
          <ul class="social inline-block">
            <li>
              <a href="#"><%= image_tag("face_hover.png", alt: "twitter") %> </a>
            </li>
            <li>
              <a href="#"><%= image_tag("insta_hover.png", alt: "twitter") %> </a>
            </li>
            <li>
              <a href="#"><%= image_tag("twit_hover.png", alt: "twitter") %> </a>
            </li>
          </ul>
        </div>

      </div><!-- row -->
    </div><!-- container -->

    <div class="container bottom">
      <div class="row copyright">
        <p><%= image_tag("britishflag.png", alt:"britishflag",) %> United Kingdom &nbsp;&nbsp;<span> &copy; 2018 Bike London, Inc. All Rights Reserved<span></p>
        </div>
      </div>

    </footer>
</body>
</html>
